Repository alex-kim-dev/vite-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, stylelint --fix, prettier --write

chore: fix tsconfig formatting
  tsconfig.json
Due: prettier --write

chore: migrate husky to v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

style: fix tsconfig formatting
  tsconfig.json
Due: prettier --write

chore: update github actions
  .github/workflows/ci.yml
Due: prettier --write

chore: change eslint js config file to yaml
  .eslintrc.cjs
  .eslintrc.yml
Due: prettier --write

chore: migrate to pnpm
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

chore: update eslint to v9
  .eslintrc.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/App.tsx
  src/test.setup.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

chore: update stylelint and its config
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update prettier and its config
  .prettierrc.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

chore: udpate typescript and its config
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

chore: update libraries for testing
  package.json
  pnpm-lock.yaml
  src/testUtils.tsx
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

chore: update vite and its starter template
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.module.css
  src/App.test.tsx
  src/App.tsx
  src/assets/react.svg
  src/favicon.svg
  src/index.css
  src/logo.svg
  src/test/setup.ts
  src/test/utils.tsx
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, stylelint --fix, prettier --write

chore: update lint-staged and its config
  .lintstagedrc.yml
  package.json
Due: prettier --write

ci: update dependencies and config
  .github/workflows/ci.yml
Due: prettier --write

ci: fix missing job dependency
  .github/workflows/ci.yml
Due: prettier --write

chore: fix lint-staged not updated in the lock file
  pnpm-lock.yaml
Due: none

docs: update readme
  README.md
Due: prettier --write

chore: rename some scripts
  package.json
Due: prettier --write

chore: update eslint plugin vitest
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix js config files not in ts project
  tsconfig.node.json
Due: prettier --write

chore: change formatting
  .editorconfig
  .prettierrc.yml
  eslint.config.js
  src/App.test.tsx
  src/App.tsx
  src/main.tsx
  src/test/setup.ts
  src/test/utils.tsx
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: update template
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/vite-env.d.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, stylelint --fix

chore: remove integration testing
  .github/workflows/ci.yml
  .lintstagedrc.yml
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/test/setup.ts
  src/test/utils.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

chore: remove tsc-files
  .lintstagedrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove concurrently
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update core packages
  .npmrc
  package.json
  pnpm-lock.yaml
  src/App.module.css
  src/App.tsx
  src/vite-env-override.d.ts
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, stylelint --fix, prettier --write

chore: update linters and their configs
  .gitattributes
  .gitignore
  .husky/pre-push
  .lintstagedrc.yml
  .stylelintrc.yml
  eslint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/vite-env-override.d.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

style: format files
  .husky/pre-push
  .stylelintrc.yml
  eslint.config.mjs
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: add css baseline
  .browserslistrc
  .stylelintrc.yml
  package.json
  pnpm-lock.yaml
  src/index.css
Due: stylelint --fix, prettier --write

ci: update config
  .github/workflows/ci.yml
Due: prettier --write

chore: set up testing
  .github/workflows/ci.yml
  .husky/pre-push
  .lintstagedrc.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/test-utils.tsx
  src/vitest-setup.ts
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/global.d.ts, vitest related --run --passWithNoTests, prettier --write

docs: mention test setup in the readme
  README.md
Due: prettier --write

chore: remove baseline
  .browserslistrc
  .stylelintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: allow successfully running stylelint & vitest with no styles or tests
  package.json
Due: prettier --write

chore: update dependencies
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/index.css
Due: stylelint --fix, prettier --write

chore: add missing stylelint logical spec rule
  .stylelintrc.yml
  src/App.module.css
  src/index.css
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts{,x}
  tsc-files --noEmit src/global.d.ts: any of: *.ts{,x}
  vitest related --run --passWithNoTests: any of: *.ts{,x}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{html,json,yml,md}
