Repository alex-kim-dev/vite-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, stylelint --fix, prettier --write

.lintstagedrc.yml:

'*.ts{,x}':
  - eslint --fix
  - tsc-files --noEmit src/vite-env.d.ts
  - jest --findRelatedTests

'*.css':
  - stylelint --fix

'*.{html,json,yml,md}':
  - prettier --write

feat: add ci
  .github/workflows/ci.yml
Due: prettier --write

fix: add missing svgr component mock
  jest.config.json
  src/__mocks__/file.mock.js
  src/__mocks__/file.mock.ts
  src/__mocks__/svg.mock.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

fix: invalid css modules class names when testing
  jest.config.json
  package-lock.json
  package.json
  src/__mocks__/identity-obj-proxy-esm.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

refactor: edit starter files
  .lintstagedrc.yml
  src/App.module.css
  src/App.tsx
  src/global.d.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, stylelint --fix, prettier --write

docs: add readme
  README.md
Due: prettier --write

feat: add src alias for ts imports
  .eslintrc.yml
  jest.config.json
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/main.tsx
  tsconfig.json
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

docs: update readme about the import aliases
  README.md
Due: prettier --write

chore: upgrade to react 18
  src/main.tsx
  tsconfig.json
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

chore: fix entry for vite-plugin-html
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests

chore: remove no longer necessary react next types
  tsconfig.json
Due: prettier --write

chore: fix untyped prop in test utils
  src/testUtils.tsx
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests

chore: turn off type checking when running tests
  jest.config.json
Due: prettier --write

docs: add depfu & ci badges
  README.md
Due: prettier --write

refactor: reference svgr types from the declaration file
  README.md
  src/global.d.ts
  tsconfig.json
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

chore: add new jsdom dependency for jest 28
  package-lock.json
  package.json
Due: prettier --write

chore: remove @testing-library/react-hooks
  package-lock.json
  package.json
Due: prettier --write

chore: update github actions to v3
  .github/workflows/ci.yml
Due: prettier --write

chore: add a few eslint rules & ecma 2022
  .eslintrc.yml
Due: prettier --write

chore: config stylelint class pattern rule
  .stylelintrc.yml
Due: prettier --write

chore: fix wrong homepage link in package.json
  package.json
Due: prettier --write

chore: update vulnerable deps
  package-lock.json
Due: prettier --write

chore: fix ts-jest config
  jest.config.json
Due: prettier --write

chore: get rid of prettier config file
  .editorconfig
  .prettierrc.yml
Due: prettier --write

revert: bring back prettier config
  .prettierrc.yml
Due: prettier --write

chore: fix type checks still running when testing
  jest.config.json
Due: prettier --write

chore: fix node types issue
  package-lock.json
  package.json
Due: prettier --write

build: use swc
  .lintstagedrc.yml
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

chore: remove no longer needed stylelint-config-prettier
  package-lock.json
  package.json
Due: prettier --write

chore: resolve version conflicts
  package-lock.json
  package.json
Due: prettier --write

chore: remove no longer necessary ignore path option from format script
  package.json
Due: prettier --write

chore: format
  src/__mocks__/identity-obj-proxy-esm.ts
  src/index.html
  src/main.tsx
  src/testUtils.tsx
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

chore: migrate from jest to vitest
  .eslintrc.yml
  .gitignore
  .lintstagedrc.yml
  README.md
  jest.config.json
  jest.setup.ts
  package-lock.json
  package.json
  src/App.test.tsx
  src/__mocks__/file.mock.ts
  src/__mocks__/identity-obj-proxy-esm.ts
  src/__mocks__/svg.mock.ts
  src/testUtils.tsx
  test.setup.ts
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

fix: vitest types
  src/App.test.tsx
  src/global.d.ts
  test.setup.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, prettier --write

chore: update js version
  .eslintrc.yml
Due: prettier --write

chore: update ci node version
  .github/workflows/ci.yml
Due: prettier --write

fix: svg import
  src/App.tsx
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests

chore: replace stale packages & update configs
  .eslintrc.yml
  .github/workflows/ci.yml
  .prettierrc.yml
  .stylelintrc.yml
  index.html
  package-lock.json
  package.json
  src/App.module.css
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, tsc-files --noEmit src/vite-env.d.ts, jest --findRelatedTests, stylelint --fix, prettier --write

chore: add tsconfig root dir to eslint config
  .eslintrc.cjs
  .eslintrc.yml
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

chore: fix missing types in tests
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

build: add type module in package.json
  package.json
Due: prettier --write
